* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Helvetica;
}

.navigation-shared {
    position: absolute;
    z-index: 200;
    height: 7em;
    width: 100%;
    padding: 0em 1em 0 1em;
    /*    border: 1px solid black;*/
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

    .navigation-shared a {
        color: white;
        text-decoration: none;
        font-size: 12px;
    }

.navigation-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
}

    .navigation-items ul {
        display: flex;
        gap: 1.7em;
        place-items: center;
        justify-content: space-around;
    }

.nav-util {
    margin-left: -2em;
    /*   border: 1px solid black;*/
}

    .nav-util li {
        width: 6em;
        height: 2em;
        text-align: center;
        border-radius: 0.4em;
        background-color: royalblue;
        place-content: center;
    }


/*--------------------------------------HERO SECTION--------------------------------------*/
.carousel-item img {
    width: 100%;
    height: 43em;
    object-fit: cover;
}

.stats-container {
    width: 100%;
    height: 20em;
    background-color: whitesmoke;
    display: flex;
}

    .stats-container .stats {
        /*       border: 1px solid black;*/
        height: 20em;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        place-content: center;
    }

.stats .figure {
    font-size: 3em;
}

.stats .figure-info {
    overflow: hidden;
    color: darkgrey;
    margin-top: -1em;
    line-height: 1.2em;
}

.articles-section h1 {
    margin-block: 3em;
    text-align: center;
    font-weight: 500;
    font-size: 2.8em;
}

.article-wrapper {
    padding: 0em 2em 1em 2em;
    display: flex;
    justify-content: space-around;
}

.article-cont {
    background-color: whitesmoke;
    height: 30em;
    width: 20em;
    border-radius: .5em;
}

.about-container .about-bttn {
    margin: 4em auto 4em auto;
    text-align: center;
    border: 1px solid black;
    width: 7em;
    height: 2em;
    border-radius: 1em;
    place-content: center;
}
